/*
 * My Custom Functions
 * Style sheet for plugin's page
 * @since 2.3
 * @agareginyan
 */


.aligncenter {
    text-align: center;
}

/* Titles */
h2 {
    text-align: center;
    font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}

h2 span {
    margin-top: 1px;
    font-size: 0.6em;
    color: black;
    display: inline;
    padding: 0;
}

h2 span a {
    display: inline;
    padding: 0;
}

h3.title {
    font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
    border-bottom: 1px solid #eee;
}

/* Messages */
#setting-error-settings_updated {
    display: none;
}

/* CodeMirror Editor */
.CodeMirror {
    height: 100% !important;
    border: 1px solid grey;
    margin-left: 5px;
    margin-right: 5px;
}

/* Sidebar */
#side-sortables {
    position: relative;
}

.inner-sidebar h3.title {
    text-align: center;
}

.postbox a {
    text-decoration: none;
}

#about,
#using,
#help,
#donate {
    text-align: center;
}

#help p {
    margin: 0;
}

#donate img,
#donate p {
    margin-top: 5px;
}
